<html>
<head>
    <title> {{ full_name }} - {{ details.title }} </title>

    <style>
        {{ css }}
    </style>
</head>
<body>

    <div class="cv-wrapper">

        <div class="header">
            <table>
                <tr>
                    <td width="100%">
                        <p class="name">
                            <span class="cyan">{{ details.last_name }}</span>
                            <span>{{ details.first_name }}</span>
                        </p>
                    </td>
                    <td>
                        <ul class="contact-list">
                            {{# contact_padding}}
                                <li class="contact-wrapper">&nbsp;</li>
                            {{/ contact_padding}}
                            {{# contact}}
                                <li class="contact-wrapper">
                                    <a {{# url}}href="{{ url }}"{{/ url}}>{{{icon}}}{{ text }}</a>
                                </li>
                            {{/ contact}}
                        </ul>
                    </td>
                </tr>
            </table>
            <hr>
            <p class="title">{{ details.title }}</p>
        </div>

        <table>
            <tr class="section">
                <td class="title-wrapper">
                    <p class="title cyan">PROFILE</p>
                </td>
                <td>
                    <p class="content">{{ profile }}</p>
                </td>
            </tr>
            <tr class="section">
                <td class="title-wrapper">
                    <p class="title cyan">EDUCATION</p>
                </td>
                <td>
                    {{# education}}
                        <table class="subsection">
                            <tr>
                                <td class="period-wrapper">
                                    <p>Jun 8 - Aug 10</p>
                                </td>
                                <td class="content">
                                    <p class="title">{{school}}</p>
                                </td>
                            </tr>
                        </table>
                    {{/ education}}
                </td>
            </tr>
        </table>

    </div>

</body>
</html>