<html>
<head>
    <meta charset="UTF-8">
    <title> {{ full_name }} - {{ details.title }} </title>

    <style>
        {{ css }}
    </style>
</head>
<body>

    <div class="cv-wrapper">

        <div class="header">
            <table>
                <tr>
                    <td width="100%">
                        <p class="name">
                            <span class="cyan">{{ details.last_name }}</span>
                            <span>{{ details.first_name }}</span>
                        </p>
                    </td>
                    <td class="content-wrapper">
                        <ul class="contact-list">
                            {{# contact_padding}}
                                <li class="contact-wrapper">&nbsp;</li>
                            {{/ contact_padding}}
                            {{# contact}}
                                <li class="contact-wrapper">
                                    <a {{# url}}href="{{ url }}"{{/ url}}>{{{icon}}}{{ text }}</a>
                                </li>
                            {{/ contact}}
                        </ul>
                    </td>
                </tr>
            </table>
            <hr>
            <p class="title">{{ details.title }}</p>
        </div>

        <table>
            <tr class="section">
                <td class="title-wrapper">
                    <p class="title cyan">PROFILE</p>
                </td>
                <td class="content-wrapper">
                    <p class="content">{{ profile }}</p>
                </td>
            </tr>
            <tr class="section">
                <td class="title-wrapper">
                    <p class="title cyan">WORK EXPERIENCE</p>
                </td>
                <td class="content-wrapper">
                    {{# experience}}
                        <table class="subsection experience">
                            <tr>
                                <td>
                                    <p class="title">
                                        {{ company }}
                                    </p>
                                </td>
                                <td class="period-wrapper">
                                    <p>{{ from.month }} <b>{{ from.year }}</b> - {{ to.month }} <b>{{ to.year }}</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="subtitle">
                                        {{ position }}
                                    </p>
                                </td>
                                <td class="location-wrapper">
                                    <p class="cyan">{{ location }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <ul class="description-list">
                                        {{# description}}
                                            <li class="content">{{& . }}</li>
                                        {{/ description}}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    {{/ experience}}
                </td>
            </tr>
            <tr class="section">
                <td class="title-wrapper">
                    <p class="title cyan">EDUCATION</p>
                </td>
                <td class="content-wrapper">
                    {{# education}}
                        <table class="subsection education">
                            <tr>
                                <td>
                                    <p class="title">
                                        {{# degree}}<span class="degree">{{ degree }}</span> | {{/ degree}}
                                        {{ field }}
                                    </p>
                                </td>
                                <td class="period-wrapper">
                                    <p>{{ from.month }} <b>{{ from.year }}</b> - {{ to.month }} <b>{{ to.year }}</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="subtitle">
                                        {{ school }}
                                    </p>
                                </td>
                                <td class="location-wrapper">
                                    <p class="cyan">{{ location }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <ul class="description-list">
                                        {{# description}}
                                            <li class="content">{{& . }}</li>
                                        {{/ description}}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    {{/ education}}
                </td>
            </tr>
        </table>

    </div>

</body>
</html>